<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ardiarahma.sik_bumdesa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.RegistrationActivity" />
        <activity android:name=".activities.ForgotPasswordActivity" />
        <activity android:name=".activities.ResetPasswordActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activities.dashboard.JurnalActivity" />
        <activity android:name=".activities.dashboard.BukuBesarActivity" />
        <activity android:name=".activities.dashboard.NeracaActivity" />
        <activity android:name=".activities.dashboard.LabaRugiActivity" />
        <activity android:name=".activities.dashboard.EkuitasActivity" />
        <activity android:name=".activities.dashboard.JurnalDetailsActivity" />
    </application>

</manifest>